ul#list {
	list-style: none;
	padding: 0;
}

.blog {
	text-align: left;
	padding: 5px;
	margin: 5px 0;
}

.blog a {
	display: flex;
	color: black;
}

.blog a:hover {
	text-decoration: none;
}

.blog:has(a:hover) {
	box-shadow: 0 0 0 1px lightgray;
}

.blog a > * {
	padding: 0 5px;
}

.blog .title {
	flex: 1;
	font-weight: bold;
}

.blog .write-date {
	color: gray;
}

#accountDialog #id {
	margin: 5px;
	font-weight: bold;
}

.search {
	text-align: right;
}

@media screen and (max-width: 750px) {
	main > * {
		width: 90%;
	}
}
