main > * {
	margin: 10px auto;
	width: 600px;
}

.content,
.c-content {
	white-space: pre-wrap;
	word-break: break-word;
	text-align: left;
}

.c-content {
	padding: 5px;
}

.write-date {
	color: gray;
}

.writer-id {
	font-weight: bold;
}

hr {
	background-color: gray;
}

#like {
	color: red;
}

#like.active {
	border-color: rgba(255, 0, 0, 0.7);
	border-radius: 3px;
	border-width: 1.5px;
}

#dislike {
	color: rgb(0, 60, 255);
}

#dislike.active {
	border-color: rgba(0, 60, 255, 0.7);
	border-radius: 3px;
	border-width: 1.5px;
}

#commentList {
	list-style: none;
	padding: 0;
	margin: 15px auto;
}

.comment {
	width: 90%;
	margin: auto;
}

.comment .top {
	display: flex;
	justify-content: space-between;
}

.comment .profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

textarea {
	resize: none;
	outline: none;
	width: 80%;
	height: 60px;
}

.buttons button {
	margin: 0 3px;
}

@media screen and (max-width: 650px) {
	main > * {
		width: 90%;
	}
}
