dialog {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: max-content;
	text-align: center;
}

ul {
	padding: 0;
	text-align: left;
}

.report {
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.report div {
	flex: 1;
	display: flex;
}

.report:hover {
	box-shadow: 0 0 0 1px lightgray;
}

.report .reporter {
	flex: 1;
	font-weight: bold;
}

.reporter::after {
	content: "님의 신고";
}

.user::before {
	content: "신고 대상: ";
}

.reason {
	margin: 10px 0;
}

.reason::before {
	content: "신고 사유: ";
}

.report #delete {
	margin: 0 5px;
}

#reportDialog .reason {
	white-space: pre-wrap;
	word-break: break-word;
}

#reportDialog .user {
	font-weight: bold;
}
