form div {
	margin: 10px auto;
	width: 600px;
}

form textarea {
	resize: none;
	outline: none;
	width: calc(100% - 10px);
	height: 300px;
	padding: 5px;
}

@media screen and (max-width: 650px) {
	form div {
		width: 90%;
	}
}
